<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}</title>
    <!-- CSS -->
    <link rel="stylesheet" href="/static/css/base.css">
</head>
<body>
    {% block content %}
    <form action="" method="POST">
        <input type="hidden" name="csrfmiddlewaretoken" value="gxpMJBNFrdDSqbO8RZe7Herl7s56TBqJZKJk7XjRKxic9jQrWX5zh2l60ZnFUL0u">
        <p>
    <label for="id_username">Username:</label>
    <input type="text" name="username" maxlength="150" autofocus required id="id_username">
    
      <span class="helptext">Required. 150 characters or fewer. Letters, digits and @/./+/-/_ only.</span>
  </p> 
  <p>
    <label for="id_email">Email:</label>
    <input type="email" name="email" maxlength="320" required id="id_email"> 
  </p>
  <p>
    <label for="id_first_name">First name:</label>
    <input type="text" name="first_name" maxlength="140" required id="id_first_name">
  </p>
  <p>
    <label for="id_last_name">Last name:</label>
    <input type="text" name="last_name"  maxlength="140" id="id_last_name">
  </p>
  <p>
    <label for="id_password1">Password:</label>
    <input type="password" name="password1" autocomplete="new-password" required id="id_password1">
    
      <span class="helptext"><ul><li>Your password can’t be too similar to your other personal information.</li><li>Your password must contain at least 8 characters.</li><li>Your password can’t be a commonly used password.</li><li>Your password can’t be entirely numeric.</li></ul></span>
  </p>
  <p>
    <label for="id_password2">Password confirmation:</label>
    <input type="password" name="password2" autocomplete="new-password" required id="id_password2">
      <span class="helptext">Enter the same password as before, for verification.</span>
  </p>
        <input type="submit" name="submit" >
    </form> 
    {% endblock content %}
</body>
</html>