<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/static/css/login.css" rel="stylesheet">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <title>Gym | Login</title>
</head>
<body>
<div class="box">
    <div class="container">
        <div class="top">
            <span>______________</span>
            <header>Login</header>
        </div>
        <form method="POST" action="{% url 'login' %}">
            {% csrf_token %}
            <div class="input-field">
                <input type="text" class="input" placeholder="Username" id="username" name="username">
                <i class='bx bx-user'></i>
            </div>
            <div class="input-field">
                <input type="password" class="input" placeholder="Password" id="password" name="password">
                <i class='bx bx-lock-alt'></i>
                <i class='bx bx-show' id="togglePassword"></i>
            </div>
            <div class="input-field">
                <input type="submit" class="submit" value="Login">
            </div>
        </form>
        <div class="two-col">
            <div class="one">
                <input type="checkbox" name="" id="check">
                <label for="check">Remember Me</label>

            </div>
            <div class="two">
                <label><a href="#">Forgot password?</a></label>
            </div>
        </div>
        <div class="two-R">
            <a href="{% url 'registro' %}">Register</a>
        </div>
        <div class="Policy">
            <a href="#">Privacy Policy</a>
            &middot;
            <a href="#">Terms &amp; Conditions</a>
        </div>
        <div class="copyright">
            &copy; Gym Pacyfic Life 2023
        </div>
    </div>
</div>
<script src='/static/js/login.js'></script>
</body>
</html>
