<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pacific Life Gym</title>
    <link rel="stylesheet" href="reset.css">
    <link rel="stylesheet" href="style.css">
    <link rel="icon" href="img/icono.ico">
</head>
<body>

    <header>
        <div class="caja">
            <h1><img  src="img/logo1.png" class="logo1"></h1>
        <nav>
            <ul>
                <li><a href="index.html">Home</a></li>
                <li><a href="quienessomos.html">Quienes Somos</a></li>
                <li><a href="contacto.html">Contacto</a></li>
                <li><a href="login.html">Login</a></li>
                <li><a href="registrarse.html">Registrarse</a></li>
            </ul>
        </nav>
        </div>  
    </header>

    <main>
        <section>
            <img class="fondo" src="img/gymfondo.png">
            <div class="restablece-box">
                <img  src="img/logo2.png" class="logo2" alt="logo">
                <h1>RESTABLECER CONTRASEÑA</h1>
                <form class="formularioingreso">
                    
        
                    
                    <label for="password">ingrese nueva contraseña</label>
                    <input type="password" class="inputs-restablece" placeholder="ingrese contraseña" ></input>
                    
                    <label for="password">confirme nueva contraseña</label>
                    <input type="password" class="inputs-restablece" placeholder="ingrese contraseña"></input>
        
                    <input type="submit" value="retablecer" class="restablecer">
                    
                    
                    <a href="registrarse.html">registrarse</a>
                    <a href="restablececlave.html">olvidaste tu contraseña</a>
                </form>
            </div>

        </section>



    </main>

    <footer>
        <div>
            <img width="120px" height="120px" src="img/logo1.png">
            <p class="copyright">&copy Copyright Gym Pacific Life</p>
        </div>
        <div class="redes-sociales">
            <h1>siguenos en nuestras redes</h1>
            <a title="instagram" href="http://www.instagram.com"><img  src="img/instagram.png" alt="instagram" /></a>
            <a title="facebook" href="http://www.facebook.com"><img  src="img/facebook.png" alt="facebook" /></a>
            <a title="youtube" href="http://www.youtube.com"><img src="img/youtube.png" alt="youtube" /></a>
            <!--logos extraidos de <a href="https://www.flaticon.es/iconos-gratis/instagram" title="instagram iconos">Instagram iconos creados por Freepik - Flaticon</a>-->
        </div>

        
        
        
      
    </footer>



    
    
</body>
</html>